---
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBraces: Attach
PointerAlignment: Right
SpaceAfterCStyleCast: true
