---
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
PointerAlignment: Right
SpaceAfterCStyleCast: true
